In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('https://s3.amazonaws.com/assets.datacamp.com/blog_assets/fake_or_real_news.csv')
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [3]:
df.shape

(6335, 4)

In [4]:
df.set_index('Unnamed: 0', inplace=True)

In [5]:
df.head()

,title,text,label
Unnamed: 0,,,
8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [6]:
X = df['text']
X.head()

Unnamed: 0
8476     Daniel Greenfield, a Shillman Journalism Fello...
10294    Google Pinterest Digg Linkedin Reddit Stumbleu...
3608     U.S. Secretary of State John F. Kerry said Mon...
10142    — Kaydee King (@KaydeeKing) November 9, 2016 T...
875      It's primary day in New York and front-runners...
Name: text, dtype: object

In [7]:
y = df['label']
y.head()

Unnamed: 0
8476     FAKE
10294    FAKE
3608     REAL
10142    FAKE
875      REAL
Name: label, dtype: object

In [8]:
import sklearn
from sklearn.model_selection import train_test_split

In [9]:
SEED = 11
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=SEED)
X_train.head()

Unnamed: 0
192     Since last year, Americans have grown increasi...
1043    Republican presidential front-runner Donald Tr...
3093    Many Republicans claim that President Obama is...
6927    November 2015 Ads RED ALERT: China officially ...
9859    Mark Crispin Miller, a professor at New York U...
Name: text, dtype: object

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [11]:
count_vector = CountVectorizer(stop_words='english')
count_train = count_vector.fit_transform(X_train)
count_test = count_vector.transform(X_test)

In [12]:
tfidf_vector = TfidfVectorizer(stop_words='english')
tfidf_train = tfidf_vector.fit_transform(X_train)
tfidf_test = tfidf_vector.transform(X_test)

In [13]:
print(count_vector.get_feature_names()[:10])
print(tfidf_vector.get_feature_names()[:10])

['00', '000', '0000', '000000031', '00000031', '000035', '0001', '000billion', '000ft', '000km']
['00', '000', '0000', '000000031', '00000031', '000035', '0001', '000billion', '000ft', '000km']

In [14]:
count_df = pd.DataFrame(count_train.A, columns=count_vector.get_feature_names())
tfidf_df = pd.DataFrame(tfidf_train.A, columns=tfidf_vector.get_feature_names())
count_df.head()

,00,000,0000,000000031,00000031,000035,0001,000billion,000ft,000km,...,حلب,عربي,عن,لم,ما,محاولات,من,هذا,والمرضى,ยงade
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
tfidf_df.head()

,00,000,0000,000000031,00000031,000035,0001,000billion,000ft,000km,...,حلب,عربي,عن,لم,ما,محاولات,من,هذا,والمرضى,ยงade
0,0.0,0.028520,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.019811,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
count_df.equals(tfidf_df)

False

In [17]:
#Multinomial Naive-Bayes Classifier

from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, confusion_matrix

In [18]:
#CountVectorizer data to NBclassifier 

mnb_clf = MultinomialNB()
mnb_clf.fit(count_train, y_train)
mnb_count_pred = mnb_clf.predict(count_test)
mnb_count_score = accuracy_score(y_test, mnb_count_pred)
print('MultinomialNB classifier accuracy with Count Vectorizer: {:.3f}'.format(mnb_count_score))

MultinomialNB classifier accuracy with Count Vectorizer: 0.891

In [19]:
#TF-IDFVectorizer data to NBclassifier 

mnb_clf2 = MultinomialNB()
mnb_clf2.fit(tfidf_train, y_train)
mnb_tfidf_pred = mnb_clf2.predict(tfidf_test)
mnb_tfidf_score = accuracy_score(y_test, mnb_tfidf_pred)
print('MultinomialNB classifier accuracy with TFIDF Vectorizer: {:.3f}'.format(mnb_tfidf_score))

MultinomialNB classifier accuracy with TFIDF Vectorizer: 0.844

In [20]:
#Confusion Matrices for NB Classifier

print('Confusion Matrix for CountVectorized Data:\n', confusion_matrix(mnb_count_pred, y_test, labels=['FAKE', 'REAL']) )
print('Confusion Matrix for TF-IDFVectorized Data:\n', confusion_matrix(mnb_tfidf_pred, y_test, labels=['FAKE', 'REAL']))

Confusion Matrix for CountVectorized Data:
 [[873  77]
 [151 990]]
Confusion Matrix for TF-IDFVectorized Data:
 [[ 716   18]
 [ 308 1049]]

In [21]:
#Classification with PassiveAggressive(PA) Classifier

from sklearn.linear_model import PassiveAggressiveClassifier

In [22]:
#CountVectorized data to PA_Classifier

pac = PassiveAggressiveClassifier(max_iter=100,
                                  early_stopping=True, 
                                  validation_fraction=0.2, 
                                  n_iter_no_change=10, verbose=0, 
                                  loss='hinge', n_jobs=-1, 
                                  random_state=SEED)
pac.fit(count_train, y_train)
pac_count_pred = pac.predict(count_test)
pac_count_score = accuracy_score(y_test, pac_count_pred)
print('PAC accuracy with CountVectorized data: {:.3f}'.format(pac_count_score))

PAC accuracy with CountVectorized data: 0.890

In [23]:
#TF-IDFVectorized data to PA_Classifier

pac2 = PassiveAggressiveClassifier(max_iter=100,
                                  early_stopping=True, 
                                  validation_fraction=0.2, 
                                  n_iter_no_change=10, verbose=0, 
                                  loss='hinge', n_jobs=-1, 
                                  random_state=SEED)
pac2.fit(tfidf_train, y_train)
pac_tfidf_pred = pac2.predict(tfidf_test)
pac_tfidf_score = accuracy_score(y_test, pac_tfidf_pred)
print('PAC accuracy with CountVectorized data: {:.3f}'.format(pac_tfidf_score))

PAC accuracy with CountVectorized data: 0.927

In [24]:
#Confusion Matrices for Passive Aggressive Classifier

print('Confusion Matrix for CountVectorized Data:\n', confusion_matrix(pac_count_pred, y_test, labels=['FAKE', 'REAL']))
print('Confusion Matrix for TF-IDFVectorized Data:\n', confusion_matrix(pac_tfidf_pred, y_test, labels=['FAKE', 'REAL']))

Confusion Matrix for CountVectorized Data:
 [[912 118]
 [112 949]]
Confusion Matrix for TF-IDFVectorized Data:
 [[957  85]
 [ 67 982]]

In [46]:
# Introspect Data with EnsembleMethods (RandomForest, VotingClassifier) and Pipeline

from sklearn.ensemble import RandomForestClassifier, VotingClassifier

In [59]:
#Initializing all classifer models (PA, MultinomialNB & RandomForest Classifiers) for the VotingClassifier

clf1 = MultinomialNB(alpha=0.01)
clf2 = PassiveAggressiveClassifier(max_iter=100,
                                  early_stopping=True, 
                                  validation_fraction=0.2, 
                                  n_iter_no_change=10, verbose=0, 
                                  loss='hinge', n_jobs=-1, 
                                  random_state=SEED)
clf3 = RandomForestClassifier(n_estimators=300, criterion='gini', 
                            warm_start=False, n_jobs=-1,
                            random_state=SEED, verbose=0)

classifiers = [('Mutinomial NB', clf1), ('Passive Aggressive NB', clf2), ('Random Forest', clf3)]

vote_clf1 = VotingClassifier(estimators=classifiers, 
                            voting='hard', n_jobs=-1)

In [53]:
#CountVectorized data with VotingClassifier

vote_clf1.fit(count_train, y_train)
vote_pred = vote_clf1.predict(count_test)
print('Voting Classifier best model score with CountVectorized data: {:.3f}'.format(accuracy_score(y_test, vote_pred)))

Voting Classifier best model score with CountVectorized data: 0.922

In [54]:
for clf_name, clf in classifiers:
    clf.fit(count_train, y_train)
    clf_pred = clf.predict(count_test)
    clf_score = accuracy_score(y_test, clf_pred)
    print('{:s} : {:.3f}'.format(clf_name, clf_score))

Mutinomial NB : 0.899
Passive Aggressive NB : 0.890
Random Forest : 0.904

In [55]:
#TF-IDFVectorized data with VotingClassifier
vote_clf2 = VotingClassifier(estimators=classifiers, 
                            voting='hard', n_jobs=-1)

vote_clf2.fit(tfidf_train, y_train)
vote_pred = vote_clf2.predict(tfidf_test)
print('Voting Classifier best model score with TF-IDFVectorized data: {:.3f}'.format(accuracy_score(y_test, vote_pred)))

Voting Classifier best model score with TF-IDFVectorized data: 0.931

In [56]:
for clf_name, clf in classifiers:
    clf.fit(tfidf_train, y_train)
    clf_pred = clf.predict(tfidf_test)
    clf_score = accuracy_score(y_test, clf_pred)
    print('{:s} : {:.3f}'.format(clf_name, clf_score))

Mutinomial NB : 0.907
Passive Aggressive NB : 0.927
Random Forest : 0.905

In [57]:
# PAC and RF Models With HashingVectorizer using make_pipeline

from sklearn.feature_extraction.text import HashingVectorizer

In [61]:
vote_clf3 = VotingClassifier(estimators=[('Passive Aggressive NB', clf2), ('Random Forest', clf3)], 
                            voting='hard', n_jobs=-1)

hash_vector = HashingVectorizer(stop_words='english')
hash_train = hash_vector.fit_transform(X_train)
hash_test = hash_vector.transform(X_test)

vote_clf3.fit(hash_train, y_train)
vote_pred = vote_clf3.predict(hash_test)
print('Voting Classifier best model score with HashingVectorized data: {:.3f}'.format(accuracy_score(y_test, vote_pred)))

Voting Classifier best model score with HashingVectorized data: 0.896